<!DOCTYPE html>
<html>
<head>
    <title>Cálculo do tempo de serviço</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,700'>
    <link type="text/css" rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
     
</head>
<body ng-app="TempoServicoApp" ng-cloak layout="column">
    <md-toolbar layout="row" layout-align="center center" class="md-toolbar-tools">
        <h1>Cálculo do tempo de serviço</h1>
    </md-toolbar>
    <md-content 
        ng-controller="TempoServicoCrtl"
        layout-xs="column">
        <!-- Cartão de cálculo -->
        <form name="formTempo" novalidate>
            <md-card>
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-title">Calcular tempo de serviço</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content layout="column">
                    <md-input-container flex>
                        <label>Data de início</label>
                        <md-datepicker
                            name="dataInicio"
                            required
                            ng-model="form.dataInicio"></md-datepicker>
                    </md-input-container>

                    <md-input-container flex>
                        <label>Data fim</label>
                        <md-datepicker
                            name="dataFim"
                            required
                            ng-model="form.dataFim"></md-datepicker>
                    </md-input-container>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button 
                        ng-disabled="formTempo.$invalid"
                        ng-click="calcularTempoServico()"
                        class="md-raised md-primary">Calcular</md-button>
                </md-card-actions>
            </md-card>
        </form>
        
        <!-- Cartão de resultados -->
        <md-card md-colors="{background: 'blue-grey-500'}">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Resultado</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content layout="column">
                <p>{{diferenca}}</p>
                <p>{{diferencaDias}}</p>
            </md-card-content>
        </md-card>
    </md-content>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/moment/moment.js"></script>
    <script type="text/javascript" src="node_modules/moment-timezone/moment-timezone.js"></script>
    <script type="text/javascript" src="node_modules/moment-precise-range-plugin/moment-precise-range.js"></script>
    <script type="text/javascript" src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-moment/angular-moment.min.js"></script>
    <script src="app.js"></script>
</body>
</html>